#first-header {
  height: 30px;
}

#sony-logo {
  width: 80px;
  text-align: right;
}

#second-header {
  height: 75px;
}

#jumbotron {
  height: 400px;
}

#gallery {
  height: 100px;
}

#playstation-5 {
  height: 500px;
}

#jumbotron-2 {
  height: 400px;
}

#new-releases {
  height: 400px;
}

#playstation-4 {
  height: 400px;
}

#ps-plus {
  height: 300px;
}

#sales {
  height: 300px;
}

#ps-now {
  height: 300px;
}

#social {
  height: 500px;
}

footer {
  height: 500px;
}
