/* General */

body {
  padding-top: 100px;
}

/* Utilities */

.btn-primary {
  border: #0d6efd 2px solid;
}

.btn-dark {
  border: black 2px solid;
}

.btn-danger {
  border: #dc3545 2px solid;
}

.btn-light {
  border: white 2px solid;
}

h2 {
  font-size: 40px;
}

.round-img {
  border-radius: 20px;
}

.btn.btn-outline-light {
  background-color: rgba(255, 255, 255, 0.7);
  color: blue;
}

.chevron {
  width: 10px;
  margin: 0px 5px;
}

.btn:hover {
  box-shadow: inset 0px 0px 0px 2px white;
}

.btn-light:hover {
  box-shadow: inset 0px 0px 0px 2px black;
}

.ps-5-accessory {
  filter: opacity(50%);
}

.ps-5-accessory:hover {
  filter: opacity(100%);
  border-bottom: #2072ce solid 4px;
}

.nav-item:hover {
  color: #2072ce;
}

.nav-item:hover .chevron {
  filter: invert(35%) sepia(50%) saturate(2514%) hue-rotate(196deg) brightness(87%) contrast(84%);
}

.active-image {
  border-bottom: #2072ce solid 4px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #2072ce !important;
}

/* Header */

#first-header {
  height: 30px;
}

#sony-logo {
  width: 80px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

/* First Jumbotron */

#jumbotron {
  background-image: url(../img/jumbo-bg.png);
  background-position: center;
  background-size: cover;
  height: 650px;
}

#returnal-logo {
  width: 300px;
}

/* Gallery */

/* Playstation 5 */

/* Jumbotron 2 */

#jumbotron-2 {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-position: center;
  background-size: cover;
}

#it-takes-two-logo {
  width: 300px;
}

/* New Releases */

#new-releases {
  background-color: #1f1f1f;
}

/* Playstation 4 */

/* Playstation Plus */

#ps-plus {
  background: url(../img/ps-plus-april-monthly-games-featured-image-block.png) no-repeat #bebcbb;
  background-size: 300px 320px;
  background-position: 90% 0%;
}

/* Discount */

/* Ps Now */

#ps-now {
  background-color: #161c3b;
}

/* Social media */

/* Footer */

footer {
  background-color: #16439c;
  font-size: 0.9em;
}

#globe {
  width: 20px;
}

footer ul a {
  color: white;
  text-decoration: none;
}

footer ul {
  list-style-type: none;
}

#sie-logo {
  width: 150px;
}

@media screen and (max-width: 768px) {
  #ps-plus {
    background-image: none;
  }
}
